numpy
BeneDict
prettytable
psutil
tqdm
pytest-order
onnx
onnxruntime
keras2onnx
atlas-mpl-style
scikit-learn
seaborn
pandarallel
tables
pybeamer
tf2onnx
loguru
rich_argparse
tensorflow
pydantic
pyarrow
fastparquet
expand_folders
rootplotlib @ git+https://github.com/ringer-ufrj-br/rootplotlib.git
maestro-lightning @ git+https://github.com/lps-ufrj-br/maestro-lightning.git